*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#111;
color:#fff;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.login,.chat{
width:100%;
max-width:500px;
padding:20px;
}

h1,h2{
text-align:center;
margin-bottom:20px;
}

input{
width:100%;
padding:14px;
margin:10px 0;
border:none;
outline:none;
border-radius:10px;
background:#222;
color:white;
font-size:16px;
}

button{
width:100%;
padding:14px;
margin-top:10px;
background:#ff5722;
border:none;
color:white;
font-size:17px;
border-radius:10px;
cursor:pointer;
}

button:hover{
background:#ff784e;
}

.top{
padding:15px;
background:#222;
border-radius:10px;
margin-bottom:10px;
}

.messages{
height:60vh;
overflow-y:auto;
background:#1b1b1b;
padding:10px;
border-radius:10px;
}

.msg{
background:#333;
padding:10px;
margin:8px 0;
border-radius:10px;
word-wrap:break-word;
}

.name{
color:#00e676;
font-weight:bold;
margin-bottom:5px;
}

.bottom{
display:flex;
gap:10px;
margin-top:10px;
}

.bottom input{
flex:1;
margin:0;
}

.bottom button{
width:100px;
margin:0;
}

@media(max-width:600px){
.chat,.login{
padding:15px;
}

.messages{
height:65vh;
}
}